<!DOCTYPE html>
<html lang="en"
      xmlmns:th="https://www.thymeleaf.org" xmlns:xmlmns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Personal page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<h1>Welcome, <span th:text="${user.firstname}"></span>!</h1>
<p>Email: <span th:text="${user.login}"></span></p>

<form th:action="@{/api/users/addCard}" method="post">
  <button type="submit" class="btn btn-primary">Add Card</button>
</form>

<form th:action="@{/api/users/showAllCards}">
  <button type="submit" class="btn btn-primary">Show all my cards</button>
</form>
</body>
</html>